<!doctype html>
<html>

    <head>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">

        <title>Bruno Luiz Katzjarowski - CV</title>
        <script type="text/javascript" src="src/assets/data.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>
        <link href="./src/assets/css/css.css" rel="stylesheet">
        <!--load all styles -->
        <link href="./src/fontawesome/css/all.css" rel="stylesheet">
        <!--load all styles -->
    </head>

    <body>

        <header>
            <h1>Bruno Luiz Katzjarowski</h1>
            <h2>Full Stack Developer at Mout's - Soluções em TI</h2>
        </header>
        <div id='cv-app'>
            <div class="container">
                <!-- BASICS -->
                <div id="basics" class='row'>

                    <!-- CONTACT -->
                    <div class="col-md-12 contact">
                        <h3 class='work-title'>Contact</h3>
                        <div class='row'>
                            <div class='col-md-2'>
                                <img src="./src/assets/profile.jpg" class="rounded float-left profile-picture" alt="Profile">
                            </div>
                            <div class="col-md-5 website">
                                <strong class='mr-2'>Website</strong> <a href='http://webnofear.com.br/'>http://webnofear.com.br/</a>
                            </div>
                            <div class="col-md-5 email">
                                <strong class='mr-2'>Email</strong> brunoluizkatz@gmail.com
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 summary">
                        <h3>About</h3>
                        <p>PHP and Javascript specialist with strong experience. Passionate on delivering the best results working with a small and focused team.</p>
                    </div>
                    <div class='col-md-12 mb-2'>
                        <div class='row'>
                            <div class='col-md-6'>
                                <strong class="mr-2 network">GitHub</strong>
                                <a href="https://github.com/kidjapa">Bruno Luiz K.</a>
                            </div>
                            <div class='col-md-6'>
                                <strong class="mr-2 network">LinkedIn</strong>
                                <a href="https://www.linkedin.com/in/bruno-luiz-katzjarowski/">Bruno Luiz K.</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- WORK -->
                <section id="work">
                    <h2 class='work-title'>Work</h2>

                    <!-- Works -->
                    <div class="item top-work" v-for="item in itens.work">
                        <h3 class="work_name">{{ item.name }}</h3>
                        <div class="work_position">{{ item.position}}</div>

                        <div class="work_date">
                            <span class="startDate">{{ item.start_date}}</span>
                            <span class="endDate"> - {{ item.end_date }}</span>
                        </div>

                        <div class="work_website">
                            <a v-bind:href="item.work_website">{{ item.work_website }}</a>
                        </div>
                        <div class="summary"><p v-html="item.summary"></p></div>
                    </div>

                </section>

                <!-- LANGUAGES -->
                <div class='row'>
                    <p>
                        <h1>Languages</h1>
                    </p>
                </div>
                <div class='row mt-2 mb-5'>
                    <div class="col-sm-3 mt-3" v-for="language in itens.languages">
                        <div class="card">
                            <div class="card-body">
                                <span clas='mb-2'>{{language.name}}</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" 
                                    aria-valuenow="0" 
                                    aria-valuemin="0" aria-valuemax="100"
                                    v-bind:style="{width: language.rating+'%'}"
                                    style="width: 25%">{{language.rating}}%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='row'>
                        <p>
                            <h1>Frameworks</h1>
                        </p>
                    </div>
                    <div class='row mt-2 mb-5'>
                        <div class="col-sm-3 mt-3" v-for="framework in itens.frameworks">
                            <div class="card">
                                <div class="card-body">
                                    <span clas='mb-2'>{{framework.name}}</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" 
                                        aria-valuenow="0" 
                                        aria-valuemin="0" aria-valuemax="100"
                                        v-bind:style="{width: framework.rating+'%'}"
                                        style="width: 25%">{{framework.rating}}%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <script>
            var app1 = new Vue({
                el: '#cv-app',
                data: {
                    itens: json_data,
                },
                methods: {},
                created: function() {}
            });
        </script>
    </body>
</html>